*.DS_Store
.vscode/settings.json
*.fasta
results/ns_40_10k.txt
results/ns_40_60_80_100_10k_mem.txt
results/ns_60_10k.txt
results/ns_80_10k.txt
results/ns_100_1k.txt
results/ns_100_10k.txt
results/ns_100_100k.txt
results/ns_100xx_reads.txt
results/sa_40_10k.txt
results/sa_40_60_80_100_10k_mem.txt
results/sa_60_10k.txt
results/sa_80_10k.txt
results/sa_100_1k.txt
results/sa_100_1M.txt
results/sa_100_10k.txt
results/sa_100_100k.txt
results/sa_100xx_reads_mem.txt
src/fmindex_search.cpp
results/fm_1k_1M_mem.txt
results/fm_1M_40_60_80_100_er_0_mem.txt
results/fm_1M_40_60_80_100_er_1_mem.txt
results/fm_10k_40_60_80_100_er_0_mem.txt
results/fm_10k_40_60_80_100_er_1_mem.txt
results/fm_10k_40_60_80_100_er_2_mem.txt
results/fm_100k_40_60_80_100_er_0_mem.txt
results/fm_100k_40_60_80_100_er_1_mem.txt
results/fm_100k_40_60_80_100_er_2_mem.txt
results/time_fm.rtf
results/time_sa_ns.rtf
results/time.rtf
results/time.rtf
