*.DS_Store
.vscode/settings.json
*.fasta
results/ns_40_10k.txt
results/ns_40_60_80_100_10k_mem.txt
results/ns_60_10k.txt
results/ns_80_10k.txt
results/ns_100_1k.txt
results/ns_100_10k.txt
results/ns_100_100k.txt
results/ns_100xx_reads.txt
results/sa_40_10k.txt
results/sa_40_60_80_100_10k_mem.txt
results/sa_60_10k.txt
results/sa_80_10k.txt
results/sa_100_1k.txt
results/sa_100_1M.txt
results/sa_100_10k.txt
results/sa_100_100k.txt
results/sa_100xx_reads_mem.txt
